@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Yahoo Finance inspired colors */
.bg-yahoo-purple {
  background-color: #400090;
}

.text-yahoo-purple {
  color: #400090;
}

.hover\:bg-yahoo-purple-dark:hover {
  background-color: #5000b3;
}

.focus\:ring-yahoo-purple:focus {
  --tw-ring-color: #400090;
}

